body{
    background-color: #f1e9e4;
}

header > img{
    width: 100px;
    height:100px;
}

header{
    padding-left:2vw;
    padding-right:2vw;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
    font-family: 'Poiret One', cursive;
    border-bottom: 1px solid #4e4a48;
}

h1 + p{
    text-align: center;
}

li{
    font-family: 'Poiret One', cursive;
    font-size: 2vh;
    padding-bottom:1vh;
}

li > div{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
} 

ol{
    margin:4vh 2vw;
}

button{
    font-family: 'Poiret One', cursive;
    font-size: 2vh;
    margin-left:1vw;
    margin-right:1vw;
}

input{
    font-family: 'Poiret One', cursive;
    font-size: 1.5vh;
}

@media screen and (min-width: 800px){
    header{
        padding-left:5vw;
        padding-right:5vw;
        display:flex;
        justify-content: space-between;
    }
    ol{
        margin:4vh 15vw 4vh 15vw;
    } 
}

@media screen and (min-width: 1100px){
    header{
        padding-left:5vw;
        padding-right:5vw;
        display:flex;
        justify-content: space-between;
    }
    ol{
        margin:4vh 20vw 4vh 20vw;
    }
}
